<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <!-- 配置映射类的别名 -->
  	<typeAliases>
      <typeAlias alias="Admin" type="com.ssm.model.Admin"/>
      <typeAlias alias="Messages" type="com.ssm.model.Messages"/>
      <typeAlias alias="Reserve" type="com.ssm.model.Reserve"/>
      <typeAlias alias="Members" type="com.ssm.model.Members"/>
      <typeAlias alias="Billiards" type="com.ssm.model.Billiards"/>
       <typeAlias alias="Announcement" type="com.ssm.model.Announcement"/>
       <typeAlias alias="Accounts" type="com.ssm.model.Accounts"/>
       <typeAlias alias="Useinfo" type="com.ssm.model.Useinfo"/>
        <typeAlias alias="BillardAccounts" type="com.ssm.model.BillardAccounts"/>
       
   </typeAliases>  
 <!--   配置Mapper文件的路径 -->
   <mappers>
       <mapper resource="com/ssm/mapper/AdminMapper.xml"/>
       <mapper resource="com/ssm/mapper/MessagesMapper.xml"/>
       <mapper resource="com/ssm/mapper/ReserveMapper.xml"/>
       <mapper resource="com/ssm/mapper/AnnounceMapper.xml"/>
        <mapper resource="com/ssm/mapper/AccountMapper.xml"/>
   </mappers> 
</configuration>